<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Angular Crud Application</span>
    <span class="example-spacer"></span>
    <a mat-button routerLink="/prodview" routerLinkActive="mat-stroked-button">
      Product View</a>
    <a mat-button routerLink="/prodlist" routerLinkActive="mat-stroked-button">
      Product List
    </a>
    <a mat-button routerLink="/DataTableExample" routerLinkActive="mat-stroked-button">
      DataTable Example
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<div class="body-padding">
  <router-outlet></router-outlet>

</div>
